<<<<<<< HEAD

}
=======
>>>>>>> cf3e88ddb9222ee1d420935b505b4b193d5f00da
body {
    background: rgb(248, 179, 179);
}

.clase1 {
    color: black;
    font-family: sans-serif;
    font-style: italic;
}

.clase2 {
    color: royalblue;
}

.clase3 {
    color: burlywood;
}

.clase4 {
    color: greenyellow;
}

.clase5 {
    color: rebeccapurple;
}
<<<<<<< HEAD
img{size-adjust: 1cm;}
body{text-align: center;}
ul{list-style-type: none}
dt{
    
}
=======

img.pequeña {
    width: 8cm;
    height: 5cm;
}

body {
    text-align: center;
}

ul {
    list-style-type: none
}
>>>>>>> cf3e88ddb9222ee1d420935b505b4b193d5f00da