body {
    background: rgb(248, 179, 179);
}

.clase1 {
    color: black;
    font-family: sans-serif;
    font-style: italic;
}

.clase2 {
    color: royalblue;
}

.clase3 {
    color: burlywood;
}

.clase4 {
    color: greenyellow;
}

.clase5 {
    color: rebeccapurple;
}

.clase6 {
    text-align: left;
    font-size: 50px;  
}

img.pequeña {
    width: 8cm;
    height: 5cm;
}

body {
    text-align: center;
}

ul {
    list-style-type: none
}